.file-button{
    
    width: 500px;
    height: 300px;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px ;
    color: rgb(7, 50, 131);
    background-color: #fff;
    border: 1.5px dashed rgb(7, 50, 131);
    border-radius: 20px ;
    cursor: pointer;
    transition: all 0.3s ease;

}
.file-input-wrapper {
    height: 80vh;              /* takes most of screen */
    display: flex;
    flex-direction: column;
    align-items: center;      /* horizontal center */
    justify-content: center;  /* vertical center */
    transform: translateY(-40px); /* move slightly upward */
}
.file-button:hover {
    color: #8a3ffc;
    background-color: #fff;
}

.file-button span {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #989798;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #8a3ffc;
    
}

.selected-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8a3ffc;
    border: 1px  solid #8a3ffc;
    border-radius: 20px;
    margin-top: 20px;
}


.selected-file p {

    font-size: 13px;
    font-weight: 500;
    margin-left: 15px;
}

.selected-file button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939195;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.selected-file button:hover{
    color: #fff;
    background-color: #8a3ffc;
}
